<?php
/**
 * ContactsApi
 * PHP version 5
 *
 * @category Class
 * @package  Swagger\Client
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Insightly API v2.2
 *
 * No descripton provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: v2.2
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace Swagger\Client\Api;

use \Swagger\Client\Configuration;
use \Swagger\Client\ApiClient;
use \Swagger\Client\ApiException;
use \Swagger\Client\ObjectSerializer;

/**
 * ContactsApi Class Doc Comment
 *
 * @category Class
 * @package  Swagger\Client
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class ContactsApi
{

    /**
     * API Client
     *
     * @var \Swagger\Client\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \Swagger\Client\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\Swagger\Client\ApiClient $apiClient = null)
    {
        if ($apiClient == null) {
            $apiClient = new ApiClient();
            $apiClient->getConfig()->setHost('https://api.insight.ly/v2.2');
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \Swagger\Client\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \Swagger\Client\ApiClient $apiClient set the API client
     *
     * @return ContactsApi
     */
    public function setApiClient(\Swagger\Client\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation addActivitySetAssignment
     *
     * Adds an Activity Set to a Contact
     *
     * @param int $id A Contact&#39;s ID (required)
     * @param \Swagger\Client\Model\APIActivitySetAssignment $api_activity_set_assignment The Activity Set Assignment object which contains the configuration information for the Activity Set (required)
     * @return void
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function addActivitySetAssignment($id, $api_activity_set_assignment)
    {
        list($response) = $this->addActivitySetAssignmentWithHttpInfo($id, $api_activity_set_assignment);
        return $response;
    }

    /**
     * Operation addActivitySetAssignmentWithHttpInfo
     *
     * Adds an Activity Set to a Contact
     *
     * @param int $id A Contact&#39;s ID (required)
     * @param \Swagger\Client\Model\APIActivitySetAssignment $api_activity_set_assignment The Activity Set Assignment object which contains the configuration information for the Activity Set (required)
     * @return Array of null, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function addActivitySetAssignmentWithHttpInfo($id, $api_activity_set_assignment)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling addActivitySetAssignment');
        }
        // verify the required parameter 'api_activity_set_assignment' is set
        if ($api_activity_set_assignment === null) {
            throw new \InvalidArgumentException('Missing the required parameter $api_activity_set_assignment when calling addActivitySetAssignment');
        }
        // parse inputs
        $resourcePath = "/Contacts/{id}/ActivitySetAssignment";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json', 'text/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($api_activity_set_assignment)) {
            $_tempBody = $api_activity_set_assignment;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                null,
                '/Contacts/{id}/ActivitySetAssignment'
            );

            return array(null, $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
            }

            throw $e;
        }
    }

    /**
     * Operation addAddress
     *
     * Adds an Address
     *
     * @param int $id A Contact&#39;s ID (CONTACT_ID) (required)
     * @param \Swagger\Client\Model\APIAddress $api_address The Address to add (just include JSON object as request body) (required)
     * @return \Swagger\Client\Model\Address
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function addAddress($id, $api_address)
    {
        list($response) = $this->addAddressWithHttpInfo($id, $api_address);
        return $response;
    }

    /**
     * Operation addAddressWithHttpInfo
     *
     * Adds an Address
     *
     * @param int $id A Contact&#39;s ID (CONTACT_ID) (required)
     * @param \Swagger\Client\Model\APIAddress $api_address The Address to add (just include JSON object as request body) (required)
     * @return Array of \Swagger\Client\Model\Address, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function addAddressWithHttpInfo($id, $api_address)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling addAddress');
        }
        // verify the required parameter 'api_address' is set
        if ($api_address === null) {
            throw new \InvalidArgumentException('Missing the required parameter $api_address when calling addAddress');
        }
        // parse inputs
        $resourcePath = "/Contacts/{id}/Addresses";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json', 'text/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($api_address)) {
            $_tempBody = $api_address;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\Address',
                '/Contacts/{id}/Addresses'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\Address', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 201:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Address', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation addContact
     *
     * Adds a Contact
     *
     * @param \Swagger\Client\Model\APIContact $api_contact The Contact to add (just include the JSON object as the request body) (required)
     * @return \Swagger\Client\Model\Contact
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function addContact($api_contact)
    {
        list($response) = $this->addContactWithHttpInfo($api_contact);
        return $response;
    }

    /**
     * Operation addContactWithHttpInfo
     *
     * Adds a Contact
     *
     * @param \Swagger\Client\Model\APIContact $api_contact The Contact to add (just include the JSON object as the request body) (required)
     * @return Array of \Swagger\Client\Model\Contact, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function addContactWithHttpInfo($api_contact)
    {
        // verify the required parameter 'api_contact' is set
        if ($api_contact === null) {
            throw new \InvalidArgumentException('Missing the required parameter $api_contact when calling addContact');
        }
        // parse inputs
        $resourcePath = "/Contacts";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json', 'text/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($api_contact)) {
            $_tempBody = $api_contact;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\Contact',
                '/Contacts'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\Contact', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 201:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Contact', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation addContactInfo
     *
     * Adds a Contact Info
     *
     * @param int $id A Contact&#39;s ID (CONTACT_ID) (required)
     * @param \Swagger\Client\Model\APIContactInfo $api_contact_info The Contact Info to add (just include the JSON object in the request body) (required)
     * @return \Swagger\Client\Model\ContactInfo
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function addContactInfo($id, $api_contact_info)
    {
        list($response) = $this->addContactInfoWithHttpInfo($id, $api_contact_info);
        return $response;
    }

    /**
     * Operation addContactInfoWithHttpInfo
     *
     * Adds a Contact Info
     *
     * @param int $id A Contact&#39;s ID (CONTACT_ID) (required)
     * @param \Swagger\Client\Model\APIContactInfo $api_contact_info The Contact Info to add (just include the JSON object in the request body) (required)
     * @return Array of \Swagger\Client\Model\ContactInfo, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function addContactInfoWithHttpInfo($id, $api_contact_info)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling addContactInfo');
        }
        // verify the required parameter 'api_contact_info' is set
        if ($api_contact_info === null) {
            throw new \InvalidArgumentException('Missing the required parameter $api_contact_info when calling addContactInfo');
        }
        // parse inputs
        $resourcePath = "/Contacts/{id}/ContactInfos";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json', 'text/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($api_contact_info)) {
            $_tempBody = $api_contact_info;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\ContactInfo',
                '/Contacts/{id}/ContactInfos'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\ContactInfo', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 201:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\ContactInfo', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation addContactLink
     *
     * Adds a Contact Link
     *
     * @param int $id A Contact&#39;s ID (CONTACT_ID) (required)
     * @param \Swagger\Client\Model\APIContactLink $api_link The Contact Link to add (just include the JSON object as request body) (required)
     * @return \Swagger\Client\Model\ContactLink
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function addContactLink($id, $api_link)
    {
        list($response) = $this->addContactLinkWithHttpInfo($id, $api_link);
        return $response;
    }

    /**
     * Operation addContactLinkWithHttpInfo
     *
     * Adds a Contact Link
     *
     * @param int $id A Contact&#39;s ID (CONTACT_ID) (required)
     * @param \Swagger\Client\Model\APIContactLink $api_link The Contact Link to add (just include the JSON object as request body) (required)
     * @return Array of \Swagger\Client\Model\ContactLink, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function addContactLinkWithHttpInfo($id, $api_link)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling addContactLink');
        }
        // verify the required parameter 'api_link' is set
        if ($api_link === null) {
            throw new \InvalidArgumentException('Missing the required parameter $api_link when calling addContactLink');
        }
        // parse inputs
        $resourcePath = "/Contacts/{id}/ContactLinks";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json', 'text/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($api_link)) {
            $_tempBody = $api_link;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\ContactLink',
                '/Contacts/{id}/ContactLinks'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\ContactLink', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 201:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\ContactLink', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation addDate
     *
     * Adds a Contact Date
     *
     * @param int $id A Contact&#39;s ID (CONTACT_ID) (required)
     * @param \Swagger\Client\Model\APIContactDate $api_contact_date The Contact Date to add (just include JSON object as request body) (required)
     * @return \Swagger\Client\Model\ContactDate
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function addDate($id, $api_contact_date)
    {
        list($response) = $this->addDateWithHttpInfo($id, $api_contact_date);
        return $response;
    }

    /**
     * Operation addDateWithHttpInfo
     *
     * Adds a Contact Date
     *
     * @param int $id A Contact&#39;s ID (CONTACT_ID) (required)
     * @param \Swagger\Client\Model\APIContactDate $api_contact_date The Contact Date to add (just include JSON object as request body) (required)
     * @return Array of \Swagger\Client\Model\ContactDate, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function addDateWithHttpInfo($id, $api_contact_date)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling addDate');
        }
        // verify the required parameter 'api_contact_date' is set
        if ($api_contact_date === null) {
            throw new \InvalidArgumentException('Missing the required parameter $api_contact_date when calling addDate');
        }
        // parse inputs
        $resourcePath = "/Contacts/{id}/Dates";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json', 'text/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($api_contact_date)) {
            $_tempBody = $api_contact_date;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\ContactDate',
                '/Contacts/{id}/Dates'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\ContactDate', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 201:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\ContactDate', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation addFileAttachment
     *
     * Adds a File Attachment to a Contact
     *
     * @param int $id Contact ID (required)
     * @param \SplFileObject $file The file part of the multipart/form-data request. Only one file can be added per request. (required)
     * @param string $file_name The name and extension of the File Attachment (optional)
     * @param string $content_type The MIME type of the File Attachment (optional)
     * @param int $file_category_id The category of the File Attachment, if it has been assigned to one (optional)
     * @return \Swagger\Client\Model\FileAttachment
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function addFileAttachment($id, $file, $file_name = null, $content_type = null, $file_category_id = null)
    {
        list($response) = $this->addFileAttachmentWithHttpInfo($id, $file, $file_name, $content_type, $file_category_id);
        return $response;
    }

    /**
     * Operation addFileAttachmentWithHttpInfo
     *
     * Adds a File Attachment to a Contact
     *
     * @param int $id Contact ID (required)
     * @param \SplFileObject $file The file part of the multipart/form-data request. Only one file can be added per request. (required)
     * @param string $file_name The name and extension of the File Attachment (optional)
     * @param string $content_type The MIME type of the File Attachment (optional)
     * @param int $file_category_id The category of the File Attachment, if it has been assigned to one (optional)
     * @return Array of \Swagger\Client\Model\FileAttachment, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function addFileAttachmentWithHttpInfo($id, $file, $file_name = null, $content_type = null, $file_category_id = null)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling addFileAttachment');
        }
        // verify the required parameter 'file' is set
        if ($file === null) {
            throw new \InvalidArgumentException('Missing the required parameter $file when calling addFileAttachment');
        }
        if (!is_null($file_name) && (strlen($file_name) > 500)) {
            throw new \InvalidArgumentException('invalid length for "$file_name" when calling ContactsApi.addFileAttachment, must be smaller than or equal to 500.');
        }

        if (!is_null($content_type) && (strlen($content_type) > 255)) {
            throw new \InvalidArgumentException('invalid length for "$content_type" when calling ContactsApi.addFileAttachment, must be smaller than or equal to 255.');
        }

        // parse inputs
        $resourcePath = "/Contacts/{id}/FileAttachments";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json', 'text/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('multipart/form-data'));

        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // form params
        if ($file !== null) {
            // PHP 5.5 introduced a CurlFile object that deprecates the old @filename syntax
            // See: https://wiki.php.net/rfc/curl-file-upload
            if (function_exists('curl_file_create')) {
                $formParams['file'] = curl_file_create($this->apiClient->getSerializer()->toFormValue($file));
            } else {
                $formParams['file'] = '@' . $this->apiClient->getSerializer()->toFormValue($file);
            }
        }
        // form params
        if ($file_name !== null) {
            $formParams['file_name'] = $this->apiClient->getSerializer()->toFormValue($file_name);
        }
        // form params
        if ($content_type !== null) {
            $formParams['content_type'] = $this->apiClient->getSerializer()->toFormValue($content_type);
        }
        // form params
        if ($file_category_id !== null) {
            $formParams['file_category_id'] = $this->apiClient->getSerializer()->toFormValue($file_category_id);
        }
        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\FileAttachment',
                '/Contacts/{id}/FileAttachments'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\FileAttachment', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 201:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\FileAttachment', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation addFollow
     *
     * Start following a Contact
     *
     * @param int $id A Contact&#39;s ID (CONTACT_ID) (required)
     * @return \Swagger\Client\Model\Follow
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function addFollow($id)
    {
        list($response) = $this->addFollowWithHttpInfo($id);
        return $response;
    }

    /**
     * Operation addFollowWithHttpInfo
     *
     * Start following a Contact
     *
     * @param int $id A Contact&#39;s ID (CONTACT_ID) (required)
     * @return Array of \Swagger\Client\Model\Follow, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function addFollowWithHttpInfo($id)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling addFollow');
        }
        // parse inputs
        $resourcePath = "/Contacts/{id}/Follow";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json', 'text/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\Follow',
                '/Contacts/{id}/Follow'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\Follow', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 201:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Follow', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation addLink
     *
     * Adds a Link
     *
     * @param int $id A Contact&#39;s ID (CONTACT_ID) (required)
     * @param \Swagger\Client\Model\APILink $api_link The Link to add (just include JSON object as request body) (required)
     * @return \Swagger\Client\Model\Link
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function addLink($id, $api_link)
    {
        list($response) = $this->addLinkWithHttpInfo($id, $api_link);
        return $response;
    }

    /**
     * Operation addLinkWithHttpInfo
     *
     * Adds a Link
     *
     * @param int $id A Contact&#39;s ID (CONTACT_ID) (required)
     * @param \Swagger\Client\Model\APILink $api_link The Link to add (just include JSON object as request body) (required)
     * @return Array of \Swagger\Client\Model\Link, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function addLinkWithHttpInfo($id, $api_link)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling addLink');
        }
        // verify the required parameter 'api_link' is set
        if ($api_link === null) {
            throw new \InvalidArgumentException('Missing the required parameter $api_link when calling addLink');
        }
        // parse inputs
        $resourcePath = "/Contacts/{id}/Links";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json', 'text/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($api_link)) {
            $_tempBody = $api_link;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\Link',
                '/Contacts/{id}/Links'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\Link', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 201:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Link', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation addNote
     *
     * Adds a Note to a Contact
     *
     * @param int $id A Contact&#39;s ID (CONTACT_ID) (required)
     * @param \Swagger\Client\Model\APINote $api_note The Note to add (required)
     * @return \Swagger\Client\Model\Note
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function addNote($id, $api_note)
    {
        list($response) = $this->addNoteWithHttpInfo($id, $api_note);
        return $response;
    }

    /**
     * Operation addNoteWithHttpInfo
     *
     * Adds a Note to a Contact
     *
     * @param int $id A Contact&#39;s ID (CONTACT_ID) (required)
     * @param \Swagger\Client\Model\APINote $api_note The Note to add (required)
     * @return Array of \Swagger\Client\Model\Note, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function addNoteWithHttpInfo($id, $api_note)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling addNote');
        }
        // verify the required parameter 'api_note' is set
        if ($api_note === null) {
            throw new \InvalidArgumentException('Missing the required parameter $api_note when calling addNote');
        }
        // parse inputs
        $resourcePath = "/Contacts/{id}/Notes";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json', 'text/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($api_note)) {
            $_tempBody = $api_note;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\Note',
                '/Contacts/{id}/Notes'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\Note', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 201:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Note', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation addTag
     *
     * Adds a Tag
     *
     * @param int $id A Contact&#39;s ID (CONTACT_ID) (required)
     * @param \Swagger\Client\Model\APITag $api_tag The Tag to add (just include the JSON object as the request body) (required)
     * @return \Swagger\Client\Model\Tag
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function addTag($id, $api_tag)
    {
        list($response) = $this->addTagWithHttpInfo($id, $api_tag);
        return $response;
    }

    /**
     * Operation addTagWithHttpInfo
     *
     * Adds a Tag
     *
     * @param int $id A Contact&#39;s ID (CONTACT_ID) (required)
     * @param \Swagger\Client\Model\APITag $api_tag The Tag to add (just include the JSON object as the request body) (required)
     * @return Array of \Swagger\Client\Model\Tag, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function addTagWithHttpInfo($id, $api_tag)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling addTag');
        }
        // verify the required parameter 'api_tag' is set
        if ($api_tag === null) {
            throw new \InvalidArgumentException('Missing the required parameter $api_tag when calling addTag');
        }
        // parse inputs
        $resourcePath = "/Contacts/{id}/Tags";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json', 'text/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($api_tag)) {
            $_tempBody = $api_tag;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\Tag',
                '/Contacts/{id}/Tags'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\Tag', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 201:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Tag', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation deleteAddress
     *
     * Deletes an Address
     *
     * @param int $id A Contact&#39;s ID (CONTACT_ID) (required)
     * @param int $address_id An Address&#39; ID (ADDRESS_ID) (required)
     * @return void
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function deleteAddress($id, $address_id)
    {
        list($response) = $this->deleteAddressWithHttpInfo($id, $address_id);
        return $response;
    }

    /**
     * Operation deleteAddressWithHttpInfo
     *
     * Deletes an Address
     *
     * @param int $id A Contact&#39;s ID (CONTACT_ID) (required)
     * @param int $address_id An Address&#39; ID (ADDRESS_ID) (required)
     * @return Array of null, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function deleteAddressWithHttpInfo($id, $address_id)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling deleteAddress');
        }
        // verify the required parameter 'address_id' is set
        if ($address_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $address_id when calling deleteAddress');
        }
        // parse inputs
        $resourcePath = "/Contacts/{id}/Addresses/{addressId}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json', 'text/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // path params
        if ($address_id !== null) {
            $resourcePath = str_replace(
                "{" . "addressId" . "}",
                $this->apiClient->getSerializer()->toPathValue($address_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'DELETE',
                $queryParams,
                $httpBody,
                $headerParams,
                null,
                '/Contacts/{id}/Addresses/{addressId}'
            );

            return array(null, $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
            }

            throw $e;
        }
    }

    /**
     * Operation deleteContact
     *
     * Deletes a Contact
     *
     * @param int $id A Contact&#39;s ID (required)
     * @return void
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function deleteContact($id)
    {
        list($response) = $this->deleteContactWithHttpInfo($id);
        return $response;
    }

    /**
     * Operation deleteContactWithHttpInfo
     *
     * Deletes a Contact
     *
     * @param int $id A Contact&#39;s ID (required)
     * @return Array of null, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function deleteContactWithHttpInfo($id)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling deleteContact');
        }
        // parse inputs
        $resourcePath = "/Contacts/{id}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json', 'text/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'DELETE',
                $queryParams,
                $httpBody,
                $headerParams,
                null,
                '/Contacts/{id}'
            );

            return array(null, $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
            }

            throw $e;
        }
    }

    /**
     * Operation deleteContactInfo
     *
     * Deletes a Contact Info
     *
     * @param int $id A Contact&#39;s ID (CONTACT_ID) (required)
     * @param int $contact_info_id A Contact Info&#39;s ID (CONTAC_INFO_ID) (required)
     * @return void
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function deleteContactInfo($id, $contact_info_id)
    {
        list($response) = $this->deleteContactInfoWithHttpInfo($id, $contact_info_id);
        return $response;
    }

    /**
     * Operation deleteContactInfoWithHttpInfo
     *
     * Deletes a Contact Info
     *
     * @param int $id A Contact&#39;s ID (CONTACT_ID) (required)
     * @param int $contact_info_id A Contact Info&#39;s ID (CONTAC_INFO_ID) (required)
     * @return Array of null, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function deleteContactInfoWithHttpInfo($id, $contact_info_id)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling deleteContactInfo');
        }
        // verify the required parameter 'contact_info_id' is set
        if ($contact_info_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $contact_info_id when calling deleteContactInfo');
        }
        // parse inputs
        $resourcePath = "/Contacts/{id}/ContactInfos/{contactInfoId}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json', 'text/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // path params
        if ($contact_info_id !== null) {
            $resourcePath = str_replace(
                "{" . "contactInfoId" . "}",
                $this->apiClient->getSerializer()->toPathValue($contact_info_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'DELETE',
                $queryParams,
                $httpBody,
                $headerParams,
                null,
                '/Contacts/{id}/ContactInfos/{contactInfoId}'
            );

            return array(null, $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
            }

            throw $e;
        }
    }

    /**
     * Operation deleteContactLink
     *
     * Deletes a Contact Link
     *
     * @param int $id A Contact&#39;s ID (CONTACT_ID) (required)
     * @param int $link_id A Contact Link&#39;s ID (CONTACT_LINK_ID) (required)
     * @return void
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function deleteContactLink($id, $link_id)
    {
        list($response) = $this->deleteContactLinkWithHttpInfo($id, $link_id);
        return $response;
    }

    /**
     * Operation deleteContactLinkWithHttpInfo
     *
     * Deletes a Contact Link
     *
     * @param int $id A Contact&#39;s ID (CONTACT_ID) (required)
     * @param int $link_id A Contact Link&#39;s ID (CONTACT_LINK_ID) (required)
     * @return Array of null, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function deleteContactLinkWithHttpInfo($id, $link_id)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling deleteContactLink');
        }
        // verify the required parameter 'link_id' is set
        if ($link_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $link_id when calling deleteContactLink');
        }
        // parse inputs
        $resourcePath = "/Contacts/{id}/ContactLinks/{linkId}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json', 'text/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // path params
        if ($link_id !== null) {
            $resourcePath = str_replace(
                "{" . "linkId" . "}",
                $this->apiClient->getSerializer()->toPathValue($link_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'DELETE',
                $queryParams,
                $httpBody,
                $headerParams,
                null,
                '/Contacts/{id}/ContactLinks/{linkId}'
            );

            return array(null, $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
            }

            throw $e;
        }
    }

    /**
     * Operation deleteCustomField
     *
     * Deletes a Custom Field
     *
     * @param int $id A Contact&#39;s ID (CONTACT_ID) (required)
     * @param string $custom_field_id A Custom Field&#39;s ID (CUSTOM_FIELD_ID) (required)
     * @return void
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function deleteCustomField($id, $custom_field_id)
    {
        list($response) = $this->deleteCustomFieldWithHttpInfo($id, $custom_field_id);
        return $response;
    }

    /**
     * Operation deleteCustomFieldWithHttpInfo
     *
     * Deletes a Custom Field
     *
     * @param int $id A Contact&#39;s ID (CONTACT_ID) (required)
     * @param string $custom_field_id A Custom Field&#39;s ID (CUSTOM_FIELD_ID) (required)
     * @return Array of null, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function deleteCustomFieldWithHttpInfo($id, $custom_field_id)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling deleteCustomField');
        }
        // verify the required parameter 'custom_field_id' is set
        if ($custom_field_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $custom_field_id when calling deleteCustomField');
        }
        // parse inputs
        $resourcePath = "/Contacts/{id}/CustomFields/{customFieldId}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json', 'text/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // path params
        if ($custom_field_id !== null) {
            $resourcePath = str_replace(
                "{" . "customFieldId" . "}",
                $this->apiClient->getSerializer()->toPathValue($custom_field_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'DELETE',
                $queryParams,
                $httpBody,
                $headerParams,
                null,
                '/Contacts/{id}/CustomFields/{customFieldId}'
            );

            return array(null, $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
            }

            throw $e;
        }
    }

    /**
     * Operation deleteDate
     *
     * Deletes a Contact Date
     *
     * @param int $id A Contact&#39;s ID (CONTACT_ID) (required)
     * @param int $date_id A Contact Date&#39;s ID (DATE_ID) (required)
     * @return void
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function deleteDate($id, $date_id)
    {
        list($response) = $this->deleteDateWithHttpInfo($id, $date_id);
        return $response;
    }

    /**
     * Operation deleteDateWithHttpInfo
     *
     * Deletes a Contact Date
     *
     * @param int $id A Contact&#39;s ID (CONTACT_ID) (required)
     * @param int $date_id A Contact Date&#39;s ID (DATE_ID) (required)
     * @return Array of null, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function deleteDateWithHttpInfo($id, $date_id)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling deleteDate');
        }
        // verify the required parameter 'date_id' is set
        if ($date_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $date_id when calling deleteDate');
        }
        // parse inputs
        $resourcePath = "/Contacts/{id}/Dates/{dateId}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json', 'text/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // path params
        if ($date_id !== null) {
            $resourcePath = str_replace(
                "{" . "dateId" . "}",
                $this->apiClient->getSerializer()->toPathValue($date_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'DELETE',
                $queryParams,
                $httpBody,
                $headerParams,
                null,
                '/Contacts/{id}/Dates/{dateId}'
            );

            return array(null, $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
            }

            throw $e;
        }
    }

    /**
     * Operation deleteFollow
     *
     * Stop following a Contact
     *
     * @param int $id A Contact&#39;s ID (CONTACT_ID) (required)
     * @return void
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function deleteFollow($id)
    {
        list($response) = $this->deleteFollowWithHttpInfo($id);
        return $response;
    }

    /**
     * Operation deleteFollowWithHttpInfo
     *
     * Stop following a Contact
     *
     * @param int $id A Contact&#39;s ID (CONTACT_ID) (required)
     * @return Array of null, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function deleteFollowWithHttpInfo($id)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling deleteFollow');
        }
        // parse inputs
        $resourcePath = "/Contacts/{id}/Follow";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json', 'text/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'DELETE',
                $queryParams,
                $httpBody,
                $headerParams,
                null,
                '/Contacts/{id}/Follow'
            );

            return array(null, $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
            }

            throw $e;
        }
    }

    /**
     * Operation deleteImage
     *
     * Deletes a Contact's Image
     *
     * @param int $id A Contact&#39;s ID (CONTACT_ID) (required)
     * @return void
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function deleteImage($id)
    {
        list($response) = $this->deleteImageWithHttpInfo($id);
        return $response;
    }

    /**
     * Operation deleteImageWithHttpInfo
     *
     * Deletes a Contact's Image
     *
     * @param int $id A Contact&#39;s ID (CONTACT_ID) (required)
     * @return Array of null, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function deleteImageWithHttpInfo($id)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling deleteImage');
        }
        // parse inputs
        $resourcePath = "/Contacts/{id}/Image";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json', 'text/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'DELETE',
                $queryParams,
                $httpBody,
                $headerParams,
                null,
                '/Contacts/{id}/Image'
            );

            return array(null, $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
            }

            throw $e;
        }
    }

    /**
     * Operation deleteLink
     *
     * Deletes a Link
     *
     * @param int $id A Contact&#39;s ID (CONTACT_ID) (required)
     * @param int $link_id A Link&#39;s ID (LINK_ID) (required)
     * @return void
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function deleteLink($id, $link_id)
    {
        list($response) = $this->deleteLinkWithHttpInfo($id, $link_id);
        return $response;
    }

    /**
     * Operation deleteLinkWithHttpInfo
     *
     * Deletes a Link
     *
     * @param int $id A Contact&#39;s ID (CONTACT_ID) (required)
     * @param int $link_id A Link&#39;s ID (LINK_ID) (required)
     * @return Array of null, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function deleteLinkWithHttpInfo($id, $link_id)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling deleteLink');
        }
        // verify the required parameter 'link_id' is set
        if ($link_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $link_id when calling deleteLink');
        }
        // parse inputs
        $resourcePath = "/Contacts/{id}/Links/{linkId}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json', 'text/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // path params
        if ($link_id !== null) {
            $resourcePath = str_replace(
                "{" . "linkId" . "}",
                $this->apiClient->getSerializer()->toPathValue($link_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'DELETE',
                $queryParams,
                $httpBody,
                $headerParams,
                null,
                '/Contacts/{id}/Links/{linkId}'
            );

            return array(null, $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
            }

            throw $e;
        }
    }

    /**
     * Operation deleteTag
     *
     * Deletes a Tag
     *
     * @param int $id A Contact&#39;s ID (CONTACT_ID) (required)
     * @param string $tag_name A Tag&#39;s name (required)
     * @return void
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function deleteTag($id, $tag_name)
    {
        list($response) = $this->deleteTagWithHttpInfo($id, $tag_name);
        return $response;
    }

    /**
     * Operation deleteTagWithHttpInfo
     *
     * Deletes a Tag
     *
     * @param int $id A Contact&#39;s ID (CONTACT_ID) (required)
     * @param string $tag_name A Tag&#39;s name (required)
     * @return Array of null, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function deleteTagWithHttpInfo($id, $tag_name)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling deleteTag');
        }
        // verify the required parameter 'tag_name' is set
        if ($tag_name === null) {
            throw new \InvalidArgumentException('Missing the required parameter $tag_name when calling deleteTag');
        }
        // parse inputs
        $resourcePath = "/Contacts/{id}/Tags/{tagName}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json', 'text/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // path params
        if ($tag_name !== null) {
            $resourcePath = str_replace(
                "{" . "tagName" . "}",
                $this->apiClient->getSerializer()->toPathValue($tag_name),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'DELETE',
                $queryParams,
                $httpBody,
                $headerParams,
                null,
                '/Contacts/{id}/Tags/{tagName}'
            );

            return array(null, $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
            }

            throw $e;
        }
    }

    /**
     * Operation getContact
     *
     * Gets a Contact
     *
     * @param int $id A Contact&#39;s ID (required)
     * @return \Swagger\Client\Model\Contact
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function getContact($id)
    {
        list($response) = $this->getContactWithHttpInfo($id);
        return $response;
    }

    /**
     * Operation getContactWithHttpInfo
     *
     * Gets a Contact
     *
     * @param int $id A Contact&#39;s ID (required)
     * @return Array of \Swagger\Client\Model\Contact, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function getContactWithHttpInfo($id)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling getContact');
        }
        // parse inputs
        $resourcePath = "/Contacts/{id}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\Contact',
                '/Contacts/{id}'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\Contact', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Contact', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getContacts
     *
     * Gets a list of Contacts.
     *
     * @param bool $brief Optional, true if response should only contain top level properties of the contact. (optional, default to false)
     * @param int $skip Optional, number of contacts to skip. (optional)
     * @param int $top Optional, maximum number of contacts to return in the response. (optional)
     * @param bool $count_total Optional,true if total number of records should be returned in the response headers. (optional, default to false)
     * @return \Swagger\Client\Model\Contact[]
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function getContacts($brief = null, $skip = null, $top = null, $count_total = null)
    {
        list($response) = $this->getContactsWithHttpInfo($brief, $skip, $top, $count_total);
        return $response;
    }

    /**
     * Operation getContactsWithHttpInfo
     *
     * Gets a list of Contacts.
     *
     * @param bool $brief Optional, true if response should only contain top level properties of the contact. (optional, default to false)
     * @param int $skip Optional, number of contacts to skip. (optional)
     * @param int $top Optional, maximum number of contacts to return in the response. (optional)
     * @param bool $count_total Optional,true if total number of records should be returned in the response headers. (optional, default to false)
     * @return Array of \Swagger\Client\Model\Contact[], HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function getContactsWithHttpInfo($brief = null, $skip = null, $top = null, $count_total = null)
    {
        // parse inputs
        $resourcePath = "/Contacts";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // query params
        if ($brief !== null) {
            $queryParams['brief'] = $this->apiClient->getSerializer()->toQueryValue($brief);
        }
        // query params
        if ($skip !== null) {
            $queryParams['skip'] = $this->apiClient->getSerializer()->toQueryValue($skip);
        }
        // query params
        if ($top !== null) {
            $queryParams['top'] = $this->apiClient->getSerializer()->toQueryValue($top);
        }
        // query params
        if ($count_total !== null) {
            $queryParams['count_total'] = $this->apiClient->getSerializer()->toQueryValue($count_total);
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\Contact[]',
                '/Contacts'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\Contact[]', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Contact[]', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getContactsBySearch
     *
     * Gets a filtered list of Contacts.
     *
     * @param string $email Optional, email address. (optional)
     * @param string $tag Optional, a single tag. (optional)
     * @param string $phone_number Optional, phone number. (optional)
     * @param string $first_name Optional, first name of the contact. (optional)
     * @param string $last_name Optional, last name of the contact. (optional)
     * @param string $city Optional, name of the city from contact address. (optional)
     * @param string $state Optional, state from the contact address. (optional)
     * @param string $postcode Optional, postal code from the contact address. (optional)
     * @param string $country Optional, name of the country from contact address. (optional)
     * @param string $organisation Optional, name of the default organisation. (optional)
     * @param \DateTime $updated_after_utc Optional, earliest date when contact was last updated. (optional)
     * @param bool $brief Optional, true if response should only contain top level properties of the contact. (optional, default to false)
     * @param int $skip Optional, number of contacts to skip. (optional)
     * @param int $top Optional, maximum number of contacts to return in the response. (optional)
     * @param bool $count_total Optional, true if total number of records should be returned in the response headers. (optional, default to false)
     * @return \Swagger\Client\Model\Contact[]
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function getContactsBySearch($email = null, $tag = null, $phone_number = null, $first_name = null, $last_name = null, $city = null, $state = null, $postcode = null, $country = null, $organisation = null, $updated_after_utc = null, $brief = null, $skip = null, $top = null, $count_total = null)
    {
        list($response) = $this->getContactsBySearchWithHttpInfo($email, $tag, $phone_number, $first_name, $last_name, $city, $state, $postcode, $country, $organisation, $updated_after_utc, $brief, $skip, $top, $count_total);
        return $response;
    }

    /**
     * Operation getContactsBySearchWithHttpInfo
     *
     * Gets a filtered list of Contacts.
     *
     * @param string $email Optional, email address. (optional)
     * @param string $tag Optional, a single tag. (optional)
     * @param string $phone_number Optional, phone number. (optional)
     * @param string $first_name Optional, first name of the contact. (optional)
     * @param string $last_name Optional, last name of the contact. (optional)
     * @param string $city Optional, name of the city from contact address. (optional)
     * @param string $state Optional, state from the contact address. (optional)
     * @param string $postcode Optional, postal code from the contact address. (optional)
     * @param string $country Optional, name of the country from contact address. (optional)
     * @param string $organisation Optional, name of the default organisation. (optional)
     * @param \DateTime $updated_after_utc Optional, earliest date when contact was last updated. (optional)
     * @param bool $brief Optional, true if response should only contain top level properties of the contact. (optional, default to false)
     * @param int $skip Optional, number of contacts to skip. (optional)
     * @param int $top Optional, maximum number of contacts to return in the response. (optional)
     * @param bool $count_total Optional, true if total number of records should be returned in the response headers. (optional, default to false)
     * @return Array of \Swagger\Client\Model\Contact[], HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function getContactsBySearchWithHttpInfo($email = null, $tag = null, $phone_number = null, $first_name = null, $last_name = null, $city = null, $state = null, $postcode = null, $country = null, $organisation = null, $updated_after_utc = null, $brief = null, $skip = null, $top = null, $count_total = null)
    {
        // parse inputs
        $resourcePath = "/Contacts/Search";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // query params
        if ($email !== null) {
            $queryParams['email'] = $this->apiClient->getSerializer()->toQueryValue($email);
        }
        // query params
        if ($tag !== null) {
            $queryParams['tag'] = $this->apiClient->getSerializer()->toQueryValue($tag);
        }
        // query params
        if ($phone_number !== null) {
            $queryParams['phone_number'] = $this->apiClient->getSerializer()->toQueryValue($phone_number);
        }
        // query params
        if ($first_name !== null) {
            $queryParams['first_name'] = $this->apiClient->getSerializer()->toQueryValue($first_name);
        }
        // query params
        if ($last_name !== null) {
            $queryParams['last_name'] = $this->apiClient->getSerializer()->toQueryValue($last_name);
        }
        // query params
        if ($city !== null) {
            $queryParams['city'] = $this->apiClient->getSerializer()->toQueryValue($city);
        }
        // query params
        if ($state !== null) {
            $queryParams['state'] = $this->apiClient->getSerializer()->toQueryValue($state);
        }
        // query params
        if ($postcode !== null) {
            $queryParams['postcode'] = $this->apiClient->getSerializer()->toQueryValue($postcode);
        }
        // query params
        if ($country !== null) {
            $queryParams['country'] = $this->apiClient->getSerializer()->toQueryValue($country);
        }
        // query params
        if ($organisation !== null) {
            $queryParams['organisation'] = $this->apiClient->getSerializer()->toQueryValue($organisation);
        }
        // query params
        if ($updated_after_utc !== null) {
            $queryParams['updated_after_utc'] = $this->apiClient->getSerializer()->toQueryValue($updated_after_utc);
        }
        // query params
        if ($brief !== null) {
            $queryParams['brief'] = $this->apiClient->getSerializer()->toQueryValue($brief);
        }
        // query params
        if ($skip !== null) {
            $queryParams['skip'] = $this->apiClient->getSerializer()->toQueryValue($skip);
        }
        // query params
        if ($top !== null) {
            $queryParams['top'] = $this->apiClient->getSerializer()->toQueryValue($top);
        }
        // query params
        if ($count_total !== null) {
            $queryParams['count_total'] = $this->apiClient->getSerializer()->toQueryValue($count_total);
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\Contact[]',
                '/Contacts/Search'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\Contact[]', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Contact[]', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getEmails
     *
     * Gets a list of Contact's Emails
     *
     * @param int $id A Contact&#39;s ID (required)
     * @param \DateTime $updated_after_utc Optional, earliest date when email was last updated. (optional)
     * @param int $top Optional, maximum number of emails to return. (optional)
     * @param int $skip Optional, number of emails to skip. (optional)
     * @param bool $brief true if only top level properties needs to be returned. (optional, default to false)
     * @param bool $count_total true if total number of records should be returned in the response headers. (optional, default to false)
     * @return \Swagger\Client\Model\Email[]
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function getEmails($id, $updated_after_utc = null, $top = null, $skip = null, $brief = null, $count_total = null)
    {
        list($response) = $this->getEmailsWithHttpInfo($id, $updated_after_utc, $top, $skip, $brief, $count_total);
        return $response;
    }

    /**
     * Operation getEmailsWithHttpInfo
     *
     * Gets a list of Contact's Emails
     *
     * @param int $id A Contact&#39;s ID (required)
     * @param \DateTime $updated_after_utc Optional, earliest date when email was last updated. (optional)
     * @param int $top Optional, maximum number of emails to return. (optional)
     * @param int $skip Optional, number of emails to skip. (optional)
     * @param bool $brief true if only top level properties needs to be returned. (optional, default to false)
     * @param bool $count_total true if total number of records should be returned in the response headers. (optional, default to false)
     * @return Array of \Swagger\Client\Model\Email[], HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function getEmailsWithHttpInfo($id, $updated_after_utc = null, $top = null, $skip = null, $brief = null, $count_total = null)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling getEmails');
        }
        // parse inputs
        $resourcePath = "/Contacts/{id}/Emails";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // query params
        if ($updated_after_utc !== null) {
            $queryParams['updated_after_utc'] = $this->apiClient->getSerializer()->toQueryValue($updated_after_utc);
        }
        // query params
        if ($top !== null) {
            $queryParams['top'] = $this->apiClient->getSerializer()->toQueryValue($top);
        }
        // query params
        if ($skip !== null) {
            $queryParams['skip'] = $this->apiClient->getSerializer()->toQueryValue($skip);
        }
        // query params
        if ($brief !== null) {
            $queryParams['brief'] = $this->apiClient->getSerializer()->toQueryValue($brief);
        }
        // query params
        if ($count_total !== null) {
            $queryParams['count_total'] = $this->apiClient->getSerializer()->toQueryValue($count_total);
        }
        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\Email[]',
                '/Contacts/{id}/Emails'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\Email[]', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Email[]', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getEvents
     *
     * Gets a Contact's Events
     *
     * @param int $id A Contact&#39;s ID (CONTACT_ID) (required)
     * @param \DateTime $updated_after_utc Optional, earliest date when event was last updated. (optional)
     * @param int $top Optional, maximum number of events to return. (optional)
     * @param int $skip Optional, number of events to skip. (optional)
     * @param bool $brief true if only top level properties needs to be returned. (optional, default to false)
     * @param bool $count_total true if total number of records should be returned in the response headers. (optional, default to false)
     * @return \Swagger\Client\Model\CalendarEvent[]
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function getEvents($id, $updated_after_utc = null, $top = null, $skip = null, $brief = null, $count_total = null)
    {
        list($response) = $this->getEventsWithHttpInfo($id, $updated_after_utc, $top, $skip, $brief, $count_total);
        return $response;
    }

    /**
     * Operation getEventsWithHttpInfo
     *
     * Gets a Contact's Events
     *
     * @param int $id A Contact&#39;s ID (CONTACT_ID) (required)
     * @param \DateTime $updated_after_utc Optional, earliest date when event was last updated. (optional)
     * @param int $top Optional, maximum number of events to return. (optional)
     * @param int $skip Optional, number of events to skip. (optional)
     * @param bool $brief true if only top level properties needs to be returned. (optional, default to false)
     * @param bool $count_total true if total number of records should be returned in the response headers. (optional, default to false)
     * @return Array of \Swagger\Client\Model\CalendarEvent[], HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function getEventsWithHttpInfo($id, $updated_after_utc = null, $top = null, $skip = null, $brief = null, $count_total = null)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling getEvents');
        }
        // parse inputs
        $resourcePath = "/Contacts/{id}/Events";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // query params
        if ($updated_after_utc !== null) {
            $queryParams['updated_after_utc'] = $this->apiClient->getSerializer()->toQueryValue($updated_after_utc);
        }
        // query params
        if ($top !== null) {
            $queryParams['top'] = $this->apiClient->getSerializer()->toQueryValue($top);
        }
        // query params
        if ($skip !== null) {
            $queryParams['skip'] = $this->apiClient->getSerializer()->toQueryValue($skip);
        }
        // query params
        if ($brief !== null) {
            $queryParams['brief'] = $this->apiClient->getSerializer()->toQueryValue($brief);
        }
[...]
